.idea

Windows-Samples/.DS_Store
Windows-Samples/Tools & Utilities/.DS_Store
.DS_Store
IntelligenceSDK-Samples/AppAnalytics-Sample-App/Android/.idea/
IntelligenceSDK-Samples/AppAnalytics-Sample-App/Android/WSOAppAnalytics/app/gradle/wrapper/gradle-wrapper.jar
IntelligenceSDK-Samples/AppAnalytics-Sample-App/Android/WSOAppAnalytics/app/build.gradle
IntelligenceSDK-Samples/AppAnalytics-Sample-App/Android/WSOAppAnalytics/app/build.gradle
IntelligenceSDK-Samples/AppAnalytics-Sample-App/iOS/Crittercism_v5_9_1/
IntelligenceSDK-Samples/AppAnalytics-Sample-App/iOS/OptimizationProfiles/
API-Samples/CODE1458U API Samples/.vscode/launch.json
bin
obj
UEM-Samples/Utilities and Tools/Generic/UEM API Event Notifications/APIEventNotification/obj/APIEventNotification.csproj.nuget.dgspec.json
UEM-Samples/Utilities and Tools/Generic/UEM API Event Notifications/APIEventNotification/obj/APIEventNotification.csproj.nuget.g.props
UEM-Samples/Utilities and Tools/Generic/UEM API Event Notifications/APIEventNotification/obj/project.assets.json
UEM-Samples/Utilities and Tools/Generic/UEM API Event Notifications/APIEventNotification/obj/project.nuget.cache
